@import url('https://fonts.googleapis.com/css2?family=Public+Sans&family=Roboto:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}
.flex-container{
    width: 40%;
    height: 800px;
    background-color: #32746D;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
    margin-top: 60px;
}
.gegevens-h{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 247, 247);
    margin-left:    110px;
}
.forms{
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: column; */
}
.gegevens-h1{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 40px;
}
.forms-place{
    margin-top: 40px;
    text-align: left;
    margin-left: 110px;
    /* display: flex;
    flex-direction: column; */
}
/* inputtypes */
#straat{
    width: 120px;
}
#hnummer{
width: 80px;
}
/* .right{
    float: right;
    width: 50%;
    text-align: left;
    justify-content: center;
}
.left{
 float:  left;
 width: 30%;
 text-align: right;
 justify-content: flex-start;
} */
@media only screen and (max-width: 900px) {
    .flex-container{
        width: 100%;
        height: 800px;
        background-color: #32746D;
        margin: 0 auto;
        border-radius: 15px;
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
    }
    .forms{
        width: 100%;
    }
  }
  form{
    /* display: flex; */

  }
  label{
    color: white;
  }
input[type=text]{
    border: 1px solid black;
    border-radius:5px;
    height: 20px;
    padding-left: 5px;
}
input[type=email]{
    border: 1px solid black;
    border-radius:5px;
    height: 20px;
    padding-left: 5px;
}
input[type=tel]{
    border: 1px solid black;
    border-radius:5px;
    height: 20px;
    padding-left: 5px;
}
input[type=submit]{
    border: 1px solid black;
    border-radius:5px;
    height: 30px;
    padding-left: 5px;
    width: 100px;
}